body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #020617;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

#loginBox {
  margin: auto;
  text-align: center;
}

.hidden {
  display: none;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#chat {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.msg {
  margin-bottom: 12px;
}

.user {
  color: #38bdf8;
}

.ai {
  color: #a7f3d0;
}

footer {
  display: flex;
  padding: 10px;
  background: #020617;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
}
